.logoAndName{
    align-items: center;
    background: #004165;
    padding: 1rem 1rem 1rem 2rem;

    img {
        padding-right: 25px;
    }

    p{
        font-size: 35px;
        font-family: 'Gotham';
        color: #fff;
    }
}

.body-container{
    padding: 1rem 2rem;
}
