.heading{
    margin: 5px 0;
}

.speakerName{
    color: #004165;
}

.currentName{
    color: #004165;
    font-size: 22px;
}

.btnWrap{
    margin-bottom: 15px !important;
    .setupBtn{
        color: #fff;
        background-color: #004165;
    }

    .setupBtn:hover{
        color: #004165;
        background-color: #fff;
        border: 1px solid #004165;
    }
}

.launchTopic{
    margin-bottom: 15px;
}

// .nameListBlock{
//     overflow-y: scroll;
//     @media screen and (max-width: 1920px) {
//         height: 480px       
//     }
//     @media screen and (max-width: 992px) {
//         height: 400px       
//     }
//     @media screen and (max-width: 768px) {
//         height: 350px       
//     }
// }

